./frontend/.env
# . --- IGNORE ---
./frontend/node_modules/
./frontend/dist/
./frontend/dist-ssr/
./frontend/.DS_Store
./frontend/.idea/
./frontend/.vscode/
.env

# Ignore environment files
.env.local
.env.*
frontend/.env.local
frontend/.env.*
